<app-header></app-header>
<app-navbar></app-navbar>
<router-outlet></router-outlet> <!--inicio-->
<router-outlet></router-outlet> <!--alumno-->
<app-academico></app-academico>
<app-evidenciapresen></app-evidenciapresen>

<!--<app-inicio></app-inicio>
<app-alumno></app-alumno>
<app-academico></app-academico>
<app-acreditacion></app-acreditacion>
<app-actividadcomple></app-actividadcomple>
<app-carrera></app-carrera>
<app-departamento></app-departamento>
<app-evaluacion></app-evaluacion>
<app-evidenciapresen></app-evidenciapresen>
<app-evidenciascomproba></app-evidenciascomproba>
<app-extraescolares></app-extraescolares>
<app-jefedepartamento></app-jefedepartamento>
<app-periodo></app-periodo>
<app-registroalumno></app-registroalumno>
<app-solicitud></app-solicitud>
<app-tipoacti></app-tipoacti>-->
<app-footer></app-footer>
