
<div>


  <main class="contenido-principal contenedor">
    <div>
    <h3 class="text-center">ACADEMICO</h3>
    
    <div class="listado">
      
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Investigación</h5>
              <p class="card-text">*Colaboración de proyectos de
                investigación (internos y
                registrados en TecNM)</p>
              <a href="#" class="btn btn-primary">ir</a>
            </div>
          </div>
        </div>


        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Eventos
                Académicos
                relacionados
                con su carrera</h5>
              <p class="card-text">Congresos, simposios,
                conferencias, foros y talleres.</p>
              <a href="#" class="btn btn-primary">ir</a>
            </div>
          </div>
        </div>
      </div>
      

    </div>
    </div>
  </main>
  
</div>

  
